ion-item{
  --background: #3880ff;
  --color: #fff;
}

ion-button{
  --background: #062f77;
}

#center-label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#borders {
  border-color: black;
  border-width: .01em;
  border-style:solid;
  background-color: lightgrey
}

#vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.container {
  display: row;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-items: center;

}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-items: center;

  border-color: black;
  border-width: .01em;
  border-style:solid;
  background-color: lightgrey
}
