<ion-toolbar >
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-header no-border>
  <div class="login-header ion-padding">
      <img class="logo-img" src="assets/img/doctor.png">
  </div>
</ion-header>

<ion-content>
<div class="center">
  <ion-grid>
 
    <div linespace4></div>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h1 big-heading>Welcome Dr.Reid</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button  color="primary" class="ion-button-class" shape="round" fill="solid" size="large" (click)="listofpatients()">Patient List</ion-button></ion-col>
      <ion-col><img class="logo-img2" src="assets/img/patient.png"></ion-col>
    </ion-row>
    <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col><ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" >CRITICAL</ion-button></ion-col>
     <ion-col><img class="logo-img2" src="assets/img/heart.png"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>
   <ion-row>
    <ion-col><img class="logo-img3" src="assets/img/placeholder.png"></ion-col>
    <ion-col><img class="logo-img3" src="assets/img/placeholder.png"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><img class="logo-img3" src="assets/img/placeholder.png"></ion-col>
    <ion-col><img class="logo-img3" src="assets/img/placeholder.png"></ion-col>
  </ion-row>
</ion-grid>

</div>
</ion-content>

