<ion-toolbar >
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-header no-border>
  <div class="login-header ion-padding">
      <img class="logo-img" src="assets/img/doctor.png">
  </div>
</ion-header>

<ion-content>
<div class="center">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button  color="primary" class="ion-button-class" shape="round" fill="solid" size="large">Patient List</ion-button></ion-col>
      <ion-col>iiiii</ion-col>
    </ion-row>
    <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col></ion-col>
     <ion-col></ion-col>
   </ion-row>
   <ion-row>
     <ion-col><ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" >CRITICAL</ion-button></ion-col>
     <ion-col>iiiii</ion-col>
   </ion-row>
</ion-grid>
</div>
</ion-content>

