<ion-toolbar >
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-header no-border>
  <div class="login-header ion-padding">
      <img class="logo-img" src="assets/img/logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <form #form="ngForm" (ngSubmit)="restore(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center >
          <ion-col align-self-center>
           <div heading-column-lr>
              <h1 big-heading >Restore Password</h1>
            </div>
            <div linespace2></div>
            <div padding>
              <ion-item transparent>
                <img icon-small src="assets/img/user.png" />
                <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
              </ion-item>
            </div>
            <div>
              <div linespace2></div>
                <ion-button color="primary"
                    class="ion-button-class"
                    shape="round" fill="solid" size="large"
                    [disabled]="form.invalid"
                    expand="block"
                    type="submit">
                  Login
                </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <div linespace></div>
      </ion-grid>
    </form>
  </div>

</ion-content>
