<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center">Patient 1</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons>
 
    <ion-buttons slot="end">
      <ion-icon size="large" color="secondary" name="accessibility-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
